[Unit]
Description=resonance miner
Wants=network-online.target
After=network-online.target
ConditionFileIsExecutable=/usr/local/bin/quantus-miner

[Service]
User=resonance
Group=resonance
Environment=RUST_LOG=info
ExecStart=/usr/local/bin/quantus-miner \
    --num-cores 4 \
    --port 9833
Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
