/target

*.sha256

# reverse proxy dns secrets
**/.cloudflare/*.com
**/.cloudflare/*.io
**/.cloudflare/*.systems

# celestia node secrets
manifest/**/.celestia-app/**/*.json

# quilibrium node secrets
manifest/**/.node/*.yml
