/target

*.sha256

# reverse proxy dns secrets
**/.cloudflare/*.com
**/.cloudflare/*.io
**/.cloudflare/*.systems

# celestia node secrets
manifest/**/.celestia-app/**/*.json

# quilibrium node secrets
manifest/**/.node/*.yml

# monero/xmrig/xmrig-proxy node secrets
manifest/**/etc/monero/monerod.conf
**/xmrig/config.json
**/xmrig-proxy/config.json

# ilo credentials
credentials.json
get-ilo-password.sh

# gitlab credentials
**/gitlab-runner/*.toml

**/*.env
