[Unit]
Description=gnoland blockchain node
Wants=network-online.target
After=network-online.target
ConditionPathExists=/var/lib/gnoland/data
ConditionPathExists=/var/lib/gnoland/gno
ConditionPathExists=/var/lib/gnoland/genesis/genesis_balances.txt
ConditionPathExists=/var/lib/gnoland/genesis/genesis_txs.jsonl
ConditionPathExists=/usr/local/bin/gnoland
ConditionPathExists=/github/workspace

[Service]
Type=simple
User=gnoland
Group=gnoland
WorkingDirectory=/var/lib/gnoland
ExecStart=/usr/local/bin/gnoland \
    start \
    -data-dir /var/lib/gnoland/data \
    -gnoroot-dir /var/lib/gnoland/gno \
    -genesis-balances-file /var/lib/gnoland/genesis/genesis_balances.txt \
    -genesis-txs-file /var/lib/gnoland/genesis/genesis_txs.jsonl
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
