[Unit]
Description=schroedinger node
Wants=network-online.target
After=network-online.target
Requires=schroedinger-miner.service
After=schroedinger-miner.service
Requires=substrate-telemetry-shard.service
After=substrate-telemetry-shard.service
ConditionFileIsExecutable=/usr/local/bin/quantus-node
ConditionPathExists=/var/lib/schroedinger/chains/schroedinger/network/secret_dilithium

[Service]
User=schroedinger
Group=schroedinger
ExecStart=/usr/local/bin/quantus-node \
    --validator \
    --name %l \
    --base-path /var/lib/schroedinger \
    --node-key-file /var/lib/schroedinger/chains/schroedinger/network/secret_dilithium \
    --rewards-address qzq6AsTmxoaTANy3mETvEKDHhFGjxLN9SPgi2rmcxttQfJenn \
    --prometheus-external \
    --prometheus-port 9615 \
    --rpc-methods auto \
    --unsafe-rpc-external \
    --rpc-port 9944 \
    --rpc-cors all \
    --listen-addr /ip4/0.0.0.0/tcp/30205 \
    --public-addr /dns/a1.quantu.se/tcp/30205/p2p/QmdEk5BbraqEHwB6eG6sPkupkogsAKP9uFMFaAo6A6H3ZM \
    --bootnodes \
        /dns/a2.quantu.se/tcp/30208/p2p/QmPUeRrypSFPA2AVdE2vW7N64DTx9hWfrgQaTqja45d9GL \
        /dns/a3.quantu.se/tcp/30102/p2p/QmVDQEK3NtJMgUhCNkfUbxvoKPcowkcu16cKCrqqemPbEq \
    --telemetry-url 'ws://127.0.0.1:8001/submit 1'
Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
