[Unit]
Description=resonance node
Wants=network-online.target
After=network-online.target
Requires=resonance-miner.service
After=resonance-miner.service
ConditionFileIsExecutable=/usr/local/bin/quantus-node
ConditionPathExists=/var/lib/resonance/chains/local_resonance/network/secret_dilithium

[Service]
User=resonance
Group=resonance
ExecStart=/usr/local/bin/quantus-node \
    --validator \
    --name %l \
    --base-path /var/lib/resonance \
    --node-key-file /var/lib/resonance/chains/local_resonance/network/secret_dilithium \
    --rewards-address qzn6C9EKUpuNPm5qbe5jSq7uiCHV7ruixuzNM4DQQQGZxe2du \
    --prometheus-external \
    --prometheus-port 9615 \
    --rpc-methods auto \
    --unsafe-rpc-external \
    --rpc-port 9944 \
    --rpc-cors all \
    --listen-addr /ip4/0.0.0.0/tcp/30105 \
    --public-addr /dns/a2.i.res.fm/tcp/30105/p2p/QmWwvxdtnaej2qxn4yqS2z8S1TrVfrxz1zjJ8f8Y8LK8Wq \
    --bootnodes \
        /dns/a1.i.res.fm/tcp/30104/p2p/QmQ5UgQyHs3UiGyvruYxXTmfgrJnciobqiUe5peXZqnjvq \
        /dns/a3.i.res.fm/tcp/30215/p2p/QmNZH7cLXAnNTeS6tw29KRmFYygFgL18GXjk6pXGHfRvAe \
    --telemetry-url 'ws://127.0.0.1:8001/submit 1' \
    --external-miner-url http://127.0.0.1:9833
Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
