[Unit]
Description=sync node state mountain-paradise
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Environment=HOME=/root
Environment=intent_list=mountain-paradise
ExecStartPre=curl -sLo /usr/local/bin/sync-node-state-mountain-paradise.sh https://raw.githubusercontent.com/grenade/rubberneck/main/daemon/sync-node-state.sh
ExecStartPre=chmod +x /usr/local/bin/sync-node-state-mountain-paradise.sh
ExecStart=/usr/local/bin/sync-node-state-mountain-paradise.sh
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
