[Unit]
Description=resonance node
Wants=network-online.target
After=network-online.target
Requires=resonance-miner.service
After=resonance-miner.service
Requires=substrate-telemetry-shard.service
After=substrate-telemetry-shard.service
ConditionFileIsExecutable=/usr/local/bin/resonance-node
ConditionPathExists=/var/lib/resonance/%l-node.key

[Service]
User=resonance
Group=resonance
ExecStart=/usr/local/bin/quantus-node \
    --chain live_resonance \
    --validator \
    --name %l \
    --base-path /var/lib/resonance \
    --node-key-file /var/lib/resonance/chains/resonance/network/secret_dilithium \
    --rewards-address qzo8VqpTojHapSvjwdLqze3GebmfAGS4Nq6rTnRsjR2S8u9mA \
    --prometheus-external \
    --prometheus-port 9615 \
    --rpc-methods auto \
    --unsafe-rpc-external \
    --rpc-port 9944 \
    --rpc-cors all \
    --port 30203 \
    --public-addr /dns/a2.t.res.fm/tcp/30203/p2p/QmeN9H9CBdBESd6wib9xetPiYsCLYPTAJn8sxajWi2Bjkb \
    --bootnodes \
        /dns/a1.t.res.fm/tcp/30201/p2p/QmYpbayBgKbhfHGn2kNWWhh3DHwBnPaLDMYvaGmT78oAP7 \
        /dns/a3.t.res.fm/tcp/30202/p2p/QmQLf3wj7KqqtTjtrq7iQZY5JokQ3k7HHLGe5hNvHSxnFr \
    --telemetry-url 'ws://127.0.0.1:8001/submit 1'
Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target


--telemetry-url 'ws://127.0.0.1:8001/submit 1'