GRAYLOG_PASSWORD_SECRET=xxxxxxxxxx_set_to_graylog_encryption_salt_xxxxxxxxxx
GRAYLOG_ROOT_PASSWORD_SHA2=xxxxxxxxxx_set_to_graylog_root_password_sha_xxxxxxxxxx
GRAYLOG_ELASTICSEARCH_USERNAME=xxxxxxxxxx_set_to_opensearch_admin_username_xxxxxxxxxx
GRAYLOG_ELASTICSEARCH_PASSWORD=xxxxxxxxxx_set_to_opensearch_admin_password_xxxxxxxxxx
