[Unit]
Description=resonance miner
Wants=network-online.target
After=network-online.target
ConditionFileIsExecutable=/usr/local/bin/quantus-miner

[Service]
User=resonance
Group=resonance
Environment=RUST_LOG=info,miner=debug
ExecStart=/usr/local/bin/quantus-miner \
    --workers 5 \
    --engine cpu-fast \
    --port 9833 \
    --metrics-port 9919 \
    --progress-chunk-ms 2000
Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
