[Unit]
Description=dendreth scheduler
After=network-online.target
BindsTo=valkey.service
ConditionPathExists=/usr/bin/git
ConditionPathExists=/usr/bin/node
ConditionPathExists=/usr/bin/npm

[Service]
User=dendreth
Group=dendreth
Environment=PATH=/var/lib/dendreth/.local/bin:/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
WorkingDirectory=/var/lib/dendreth
Type=simple
ExecStartPre=/bin/bash -c 'mkdir -p /var/lib/dendreth/.local/bin'
ExecStartPre=/bin/bash -c 'npm config set prefix /var/lib/dendreth/.local'
ExecStartPre=/bin/bash -c 'test -x /var/lib/dendreth/.local/bin/tsx || npm install --global tsx'
ExecStartPre=/bin/bash -c 'test -x /var/lib/dendreth/.local/bin/tsc || npm install --global typescript'
ExecStartPre=/bin/bash -c 'test -x /var/lib/dendreth/.local/bin/yarn || npm install --global yarn'
ExecStartPre=-/bin/bash -c 'test -x /var/lib/dendreth/.local/bin/git-clone-or-update-branch.sh || curl --fail --silent --location --output /var/lib/dendreth/.local/bin/git-clone-or-update-branch.sh --url https://raw.githubusercontent.com/grenade/rubberneck/main/script/git-clone-or-update-branch.sh && chmod +x /var/lib/dendreth/.local/bin/git-clone-or-update-branch.sh'
ExecStartPre=-/bin/bash -c '/var/lib/dendreth/.local/bin/git-clone-or-update-branch.sh https://github.com/metacraft-labs/DendrETH.git /var/lib/dendreth/app/scheduler diva-deployment || ( cd /var/lib/dendreth/app/scheduler/beacon-light-client/plonky2/input_fetchers && yarn )'
ExecStart=/bin/bash -c 'cd /var/lib/dendreth/app/scheduler/beacon-light-client/plonky2/input_fetchers && yarn node --import tsx validators_commitment_mapper/runnable/run_scheduler.ts --redis-host 127.0.0.1 --redis-port 6379 --take 20 --beacon-node https://lighthouse.dendreth.io https://nimbus.dendreth.io http://testing.mainnet.beacon-api.nimbus.team'
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
