[Unit]
Description=monero full node
After=network-online.target

[Service]
User=monero
Group=monero
WorkingDirectory=/var/lib/monero
Type=simple
ExecStart=/usr/local/bin/monerod \
    --non-interactive \
    --data-dir /var/lib/monero \
    --block-sync-size 20 \
    --enforce-dns-checkpointing \
    --igd disabled \
    --p2p-bind-ip 0.0.0.0 \
    --p2p-bind-port 18080 \
    --p2p-external-port 18080 \
    --rpc-restricted-bind-ip 0.0.0.0 \
    --rpc-restricted-bind-port 18081 \
    --rpc-bind-ip 127.0.0.1 \
    --rpc-bind-port 18089 \
    --zmq-pub tcp://0.0.0.0:18084 \
    --config-file /etc/monero/monerod.conf
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
