[Unit]
Description=nimbus beacon mainnet
BindsTo=geth-mainnet.service
ConditionPathExists=/tmp/mainnet.jwt
ConditionPathExists=/var/lib/nimbus/beacon/mainnet

[Service]
User=nimbus
Group=nimbus
WorkingDirectory=/var/lib/nimbus/beacon/mainnet
Type=simple
ExecStart=/usr/local/bin/nimbus_beacon_node \
    --network=mainnet \
    --data-dir=/var/lib/nimbus/beacon/mainnet \
    --enr-auto-update=true \
    --tcp-port=9000 \
    --udp-port=9000 \
    --rest=Yes \
    --rest-port=5052 \
    --metrics=Yes \
    --web3-url=http://127.0.0.1:8551 \
    --jwt-secret=/tmp/geth-mainnet.jwt
Restart=always
RestartSec=2
TimeoutSec=1200
LimitNOFILE=16384

[Install]
WantedBy=multi-user.target
