[Unit]
Description=promtail

[Service]
ExecStart=/usr/local/bin/promtail \
    --config.file=/etc/promtail/promtail.yml \
    --client.external-labels="host=%H"
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
