[Unit]
Description=prometheus monero exporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/monero-exporter \
    --bind-addr 0.0.0.0:9099 \
    --monero-addr http://127.0.0.1:18089 \
    --telemetry-path /metrics
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
