[Unit]
Description=qbtc node
Wants=network-online.target
After=network-online.target
ConditionPathExists=/usr/local/bin/qbtcd

[Service]
Type=simple
User=qbtc
Group=qbtc
WorkingDirectory=/var/lib/qbtc
ExecStart=/usr/local/bin/qbtcd \
    --qtestnet \
    --datadir /var/lib/qbtc \
    --listen 0.0.0.0:11334 \
    --addpeer 10.0.9.104:11334 \
    --addpeer 10.0.9.106:11334 \
    --addpeer 10.0.9.131:11334 \
    --maxpeers 125 \
    --banthreshold 100 \
    --banduration 24h \
    --whitelist 10.0.9.0/24
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
