[Unit]
Description=quilibrium node
Wants=network-online.target
After=network-online.target
ConditionPathExists=/var/lib/quilibrium/.node
ConditionPathExists=/var/lib/quilibrium/.local/bin/quilibrium
ConditionPathExists=/var/lib/quilibrium/.local/bin/quilibrium.dgst
ConditionPathExists=/var/lib/quilibrium/.local/bin/quilibrium.dgst.sig.1
ConditionPathExists=/var/lib/quilibrium/.local/bin/quilibrium.dgst.sig.2
ConditionPathExists=/var/lib/quilibrium/.local/bin/quilibrium.dgst.sig.3
ConditionPathExists=/var/lib/quilibrium/.local/bin/quilibrium.dgst.sig.4
ConditionPathExists=/var/lib/quilibrium/.local/bin/quilibrium.dgst.sig.6
ConditionPathExists=/var/lib/quilibrium/.local/bin/quilibrium.dgst.sig.8
ConditionPathExists=/var/lib/quilibrium/.local/bin/quilibrium.dgst.sig.13
ConditionPathExists=/var/lib/quilibrium/.local/bin/quilibrium.dgst.sig.15
ConditionPathExists=/var/lib/quilibrium/.local/bin/quilibrium.dgst.sig.16
ConditionPathExists=/var/lib/quilibrium/.local/bin/quilibrium.dgst.sig.17

[Service]
Type=simple
User=quilibrium
Group=quilibrium
WorkingDirectory=/var/lib/quilibrium/.node
StateDirectory=/var/lib/quilibrium/.node
ExecStart=/var/lib/quilibrium/.local/bin/quilibrium \
    --config /var/lib/quilibrium/.node
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
