[Unit]
Description=substrate telemetry shard
Wants=network-online.target
After=network-online.target
ConditionFileIsExecutable=/usr/local/bin/substrate_telemetry_shard

[Service]
Type=simple
User=substrate
Group=substrate
ExecStart=/usr/local/bin/substrate_telemetry_shard \
    --core ws://10.9.1.101:8000/shard_submit/ \
    --listen 0.0.0.0:8001
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
