[Unit]
Description=xmrig
After=network-online.target
ConditionPathExists=/usr/local/bin/xmrig

[Service]
User=root
Group=root
WorkingDirectory=/var/lib/xmrig
Type=simple
ExecStart=/usr/local/bin/xmrig \
    --url 10.0.9.109:3333 \
    --user 42nMC7DRYe7FVemohoK3GHeHA8cYei9paV869zs4QkH93SnqqT5ryttSzXUwcknc3GVvgFKXGV1mPGcirvqcKiPU92TvtRy
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
