h6 > svg, p > svg {
  margin-right: 5px;
}
button {
  margin: 10px;
}
.card {
  margin: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
