[Unit]
Description=resonance miner
Wants=network-online.target
After=network-online.target
ConditionFileIsExecutable=/usr/local/bin/resonance-miner

[Service]
User=resonance
Group=resonance
Environment=RUST_LOG=info
ExecStart=/usr/local/bin/resonance-miner
Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
